/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set common styles for body and navbar */
body, .navbar {
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
    margin: 0;
}

/* Style the navigation bar */
.navbar {
    background-color: transparent;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    transition: background-color 0.3s, backdrop-filter 0.3s;
    padding: 10px 0; /* Adjust the padding to make the navbar smaller */
}

.navbar-brand {
    font-size: 1.3rem; /* Make the font size a bit smaller */
    font-weight: bold;
    margin-left: 20px; /* Add some margin to the left for better alignment */
}

.navbar-nav {
    margin-right: 20px; /* Add margin to the right for better alignment */
}

.navbar-nav .nav-item {
    margin: 0 10px; /* Adjust the margin between nav items */
}

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
    font-weight: bold;
}

/* Style sections */
#features,
#about,
#contact {
    background-color: #fff;
    padding: 40px 0;
    text-align: center; /* Center the text in sections */
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.5rem;
}

p {
    text-align: center;
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto;
}

/* Style the footer */
footer {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
}

/* Style the hero section */
.jumbotron {
    background-image: url('images/15914224201.png');
    background-size: cover;
    background-position: center top;
    background-color: rgba(0, 0, 0, 0.5); /* Add a black tint with 50% opacity */
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Add a black tint with 50% opacity */
    z-index: -1;
}

.btn-primary {
    font-weight: bold;
    margin-top: 20px; /* Add margin to separate from the text */
}

.jumbotron h1 {
    font-size: 3rem;
    font-weight: bold;
}

.jumbotron p {
    font-size: 1.1rem;
}

